/* Generics section */
::-webkit-scrollbar {
    display: none;
}

* {
    margin: 0;
    padding: 0;
    font-family: "Protest Strike", sans-serif;
    font-weight: 400;
    font-size: 18pt;
}

li {
    list-style-type: none;
}

main {
    width: 100dvw;
    height: 100dvh;
    background: var(--background);
    color: var(--font-color);
}

:is(.heading, h1, h2, h3) {
    width: 100%;
}

h1 {
    font-size: 58px;
}

.main {
    height: 70px;
}

button {
    background: none;
    border: none;
    padding: 0px;
    margin: 0px;
}

/* Basics section (often re-used classes) */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.Icon {
    fill: var(--subtext);
    width: 100%;
    height: 100%;
    transition: stroke 0.2s, fill 0.2s;
}

#SceneWrapper {
    width: 100%;
    height: 100%;
    padding: 14dvh 4dvw;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.Scene {
    width: 100%;
    height: 100%;
    flex: 0 0 auto;
    box-sizing: border-box;
    text-align: center;
    position: relative;
    justify-content: space-between;
}

.hidden {
    visibility: hidden !important;
}