.ThemeButton {
    background: var(--light-accent);
    box-shadow: 2px 2px 6px var(--shadow);
    border-radius: 24px;
    border: none;
    min-width: max(15dvw, 140px);
    max-width: 200px;
    padding: 8px;
    color: var(--font-dark);
}