#Upper {
    height: calc(100% - var(--menu-height));
    background: var(--upper);
    flex-direction: column;
    position: relative;
    z-index: 2;
    transition: height 0.2s, border-radius 0.2s, box-shadow 0.2s, padding 0.2s;
    border-radius: 0px;
    justify-content: space-evenly;
    overflow: visible;

    &::after {
        transition: height 0.2s, bottom 0.2s;
        width: 100%;
        height: 0;
        background: var(--foreground);
        content: "";
        bottom: 0px;
        left: 0;
        position: absolute;
        z-index: -1;
        clip-path: polygon(0 0, 100% 0, 0 100%);
    }

    &.open {
        height: 73%;
        box-shadow: 0px 6px 10px var(--shadow);

        &::after {
            height: 25px;
            bottom: -24px;
        }

        #UpButton {
            border-radius: 50%;
            bottom: -12px;
            width: 48px;
            height: 48px;
        }

        #UpButton #Center {
            --path: 37% 100%, 62% 100%, 100% 100%, 100% 62%, 100% 37%, 100% 0%, 62% 0%,
                37% 0%, 0% 0%, 0% 37%, 0% 62%, 0% 100%;
            transition: clip-path 0.4s 0.2s, rotate 0.4s 0.2s;
            rotate: 180deg;
        }
    }
}

#UpButton {
    position: absolute;
    bottom: -46px;
    width: 56px;
    height: 56px;
    padding: 12px;
    border-radius: 0px;
    border-radius: 50%;
    transition: border-radius 0.2s, bottom 0.2s, height 0.2s, width 0.2s;

    #Center {
        --path: 37% 100%, 62% 100%, 62% 62%, 100% 62%, 100% 37%, 62% 37%, 62% 0%,
            37% 0%, 37% 37%, 0% 37%, 0% 62%, 37% 62%;
        background: var(--background);
        border-radius: 50%;
        clip-path: polygon(var(--path));
        transition: clip-path 0.2s, rotate 0.2s;
        width: 100%;
        height: 100%;
    }
}